[submodule "icebeem"]
	path = icebeem
	url = https://github.com/ilkhem/icebeem
[submodule "disentanglement_lib"]
	path = disentanglement_lib
	url = https://github.com/google-research/disentanglement_lib.git
