numpy==1.26.4
torch~=2.2.0
scipy
scikit-learn
matplotlib
wandb
h5py
torchmetrics~=0.7.2
pytest
setuptools
pandas
pip
pytorch-lightning
jsonargparse[signatures]
hydra-core
pre-commit
omegaconf
pynvml
functorch
tueplots
strnn